<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>{% if page.title %}{{ page.title }} | {% endif %}{{ site.title }}</title>

  <!-- CSS -->
  <link href="{{ "/style.css" | absolute_url }}" rel="stylesheet" type="text/css">
</head>

<body>
  <div class="container">
    <div class="sidebar">
      <div class="workspace_menu">
        <span>Slack</span>
        <i class="icon-down-open"></i>
      </div>
      <div class="sidebar_content">
        <div class="sidebar_section">
          <h2>Channels</h2>
          <ul>
            <li class="sidebar_item {% if page.title == 'Home' %} active {% else %} unread {% endif %}">
              <a href="{{ site.baseurl }}/">
                <span><span class="channel_prefix">#</span> general</span>
                <span class="unread_badge">8</span>
              </a>
            </li>
            <li class="sidebar_item">
              <a>
                <span><span class="channel_prefix">#</span> random</span>
              </a>
            </li>
            <a>Create a channel...</a>
          </ul>
        </div>

        <div class="sidebar_section">
          <h2>Direct Messages</h2>
          <ul>
            <li class="sidebar_item">
              <a>
                <span><i class="icon-heart"></i>slackbot</span>
              </a>
            </li>
            <li class="sidebar_item unread">
              <a>
                <span><i class="icon-circle"></i>(๑•̀ㅂ•́)و💊</span>
                <span class="unread_badge">1</span>
              </a>
            </li>

            {% assign sorted-members = site.members | sort: 'title' | reverse %}
            {% assign sorted-members = sorted-members | sort: 'weight' | reverse %}
            {% for member in sorted-members %}
              {% if page.title == member.title %}
                {% assign strip_content = member.content | strip %}
                <li class="sidebar_item active {% if strip_content == '' %}offline{% endif %}">
                  <a href="{{ member.url | prepend: site.baseurl }}">
                    <span><i class="icon-circle user_state"></i>{{ member.path | slice: 9, 100 | replace: '.md', '' }}</span>
                  </a>
                </li>
              {% endif %}
            {% endfor %}
            {% for member in sorted-members %}
              {% if page.title != member.title %}
                {% assign strip_content = member.content | strip %}
                <li class="sidebar_item {% if strip_content == '' %}offline{% endif %}">
                  <a href="{{ member.url | prepend: site.baseurl }}">
                    <span><i class="icon-circle user_state"></i>{{ member.path | slice: 9, 100 | replace: '.md', '' }}</span>
                  </a>
                </li>
              {% endif %}
            {% endfor %}

          </ul>
        </div>

        <div class="sidebar_section">
          <h2>Private Groups</h2>
          <ul>
            <a>New private group...</a>
          </ul>
        </div>
      </div>

      <div class="user_menu">
        <img src="{{ site.sidebar.avatar }}" id="current_user_avatar" />
        <div class="text_info">
          <span id="current_user_name">{{ site.sidebar.username }}</span>
          <span id="current_user_state"><i class="icon-circle"></i> online</span>
        </div>
        <i class="icon-up-open"></i>
      </div>
    </div>
    <div class="message_container markdown-body">
      <div class="menu-trigger">
        <div class="line"></div>
        <div class="line"></div>
        <div class="line"></div>
      </div>

      {% assign strip_content = content | strip %}
      {% if strip_content != '' %}
      {{ content }}
      {% else %}
      <p><em>该成员还没有填写任何内容哦～</em></p>
      {% endif %}
    </div>
  </div>

  <script>
    var menuTrigger = document.querySelector('.menu-trigger')
    var siderbar = document.querySelector('.sidebar')

    menuTrigger.addEventListener('click', function (e) {
      // siderbar.classList.push(new Date().toJSON())
      if (siderbar.classList.contains('show')) {
        return siderbar.classList.remove('show')
      }

      siderbar.classList.add('show')
    })
  </script>
</body>

</html>
